extends layout

block content
  h1= title
  p Welcome to #{title}

    input#userInput(type="number")
    button#getFeetInMile Get Feet in One Mile
    button#calculateFeetFromMiles Calculate Feet from Miles
    button#calculateCircumference Calculate Circumference
    button#search Search

    pre#displayArea



  pre#displaySearch
